#hutb
pygame==2.6.1
numpy==1.24.3
gymnasium>=1.0.0,<2.0
opencv-python==4.11.0.86
stable_baselines3>=2.1.0
networkx==2.5
PyQt5==5.15.10
mediapy
dm_control
h5py
tf_keras
chex
dm-sonnet>=2.0.1
graphs
gym
launchpad
hydra-core==1.3.2
imageio==2.33.1
absl-py==2.0.0
hydra-submitit-launcher==1.2.0
imageio-ffmpeg==0.4.9
kornia==0.7.1
moviepy==1.0.3
mujoco==3.3.0
mujoco-py==2.1.2.14
omegaconf==2.3.0
pandas==2.1.4
ruff
setuptools==65.5.0
submitit==1.5.1
shimmy>=0.2.1
git+https://github.com/microsoft/MoCapAct.git
termcolor==2.4.0
trfl
torchrl
tqdm==4.66.1
wandb==0.16.2,<0.17
tensorflow==2.15.1
tensorflow_probability==0.23.0
tf-keras
dm-reverb==0.14.0
protobuf==3.20.3,<3.21
jax<0.4.21
jaxlib<0.4.21
tensorflow-probability==0.23.0
keras==2.15.0

