hutb==1.0.0
pygame==2.6.1
numpy==1.26.4
gymnasium==0.28.1
opencv-python==4.11.0.86
stable_baselines3==2.0.0
networkx
PyQt5==5.15.10
mediapy
dm_control
h5py
tensorflow==2.8.0
tensorflow-probability==0.16.0
tf_keras
chex
dm-sonnet
graphs
gym
launchpad
hydra-core==1.3.2
imageio==2.33.1
absl-py==2.0.0
hydra-submitit-launcher==1.2.0
imageio-ffmpeg==0.4.9
kornia==0.7.1
moviepy==1.0.3
mujoco==2.3.1
mujoco-py==2.1.2.14
omegaconf==2.3.0
pandas==2.1.4
setuptools==65.5.0
submitit==1.5.1
shimmy>=0.2.1
git+https://github.com/microsoft/MoCapAct.git
protobuf==3.20.0
termcolor==2.4.0
torchrl
tqdm==4.66.1
wandb==0.16.2