hutb==1.0.0
pygame==2.6.1
numpy
gymnasium==0.28.1
opencv-python==4.11.0.86
torch==1.13.1
stable_baselines3==2.0.0
networkx
PyQt5==5.15.10
mediapy
dm_control
h5py
tensorflow==2.8.0
tensorflow-probability==0.16.0
tf_keras
chex
sonnet
graphs
gym
launchpad